@using MT_app.core.Models
@model MT_app.core.ViewModel.ProductViewModel

@{
    ViewData["Title"] = "Create";
    List<Supplier>? suppliers = ViewData["suppliers"] as List<Supplier>;

    void getCats()
    {
        Model.Name = "fun";
    }
}
@section Heads {
    <link rel="stylesheet" href="~/css/productCreate.css" asp-append-version="true" />
}

<h1>Create</h1>

<h4>Product</h4>
<hr/>
<div class="row">
    <div class="col-4">
        <form asp-action="Create" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ImageFile" class="control-label">Image</label>
                <input asp-for="ImageFile" id="imageInput" type="file" class="form-control" />
                <span asp-validation-for="ImageFile" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control"/>
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Price" class="control-label"></label>
                <input asp-for="Price" class="form-control"/>
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SupplierId" class="control-label"></label>
                <select asp-for="SupplierId" class="form-control" asp-items="@(new SelectList(suppliers, "Id", "Name"))">
                    <option >Select Supplier</option>
                </select>
                <span asp-validation-for="SupplierId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="form-group">
                    <label asp-for="CategoryIds" class="control-label">Category</label>
                    <select id="cats" onchange="selectCategory(value)" asp-for="CategoryIds" class="form-control" multiple required>
                        @foreach (var category in (ViewData["Categories"] as List<Category>)!)
                        {
                            <option value="@category.Id">@category.Name</option>
                        }
                    </select>
                </div>
                <span asp-validation-for="CategoryIds" class="text-danger"></span>
            </div>
            <div id="selectedCategories"></div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary"/>
            </div>
        </form>
    </div>
    <div class="col-8">
        <div id="imagePreview"></div>
    </div>
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>


@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.min.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/css/select2.min.css" rel="stylesheet"/>

    <script>
        $(document).ready(function() {
            $('#cats').select2();
        });

        $(document).ready(function() {
            $('#imageInput').change(function(event) {
                var imageInput = event.target;
                var imagePreview = $('#imagePreview');

                if (imageInput.files && imageInput.files[0]) {
                    var reader = new FileReader();
                    reader.onload = function(e) {
                        var imgElement = $('<img>').attr('src', e.target.result).addClass('preview-product-image');
                        imagePreview.empty();
                        imagePreview.append(imgElement);
                    };

                    reader.readAsDataURL(imageInput.files[0]);
                } else {
                    imagePreview.empty();
                }
            });
        });
    </script>
}