@model MT_app.core.ViewModel.UploadFileViewModel

@{
}

<div class="row">
    <form asp-action="UploadFile" enctype="multipart/form-data">
        <input asp-for="FormFile" type="file"/>
        <button>ADD</button>
    </form>
</div>
<div class="row">
    <img src="@ViewData["link"]"/>
</div>
