.container {
}

.product-img {
    width: 80%;
    height: 80%;
}

h4 {
    color: aquamarine
}

.product-item {
    max-width: 250px;
}

.product-order {
    margin-top: 48px;
    border: aqua 2px solid;
}   