.container {
    margin: 0 5%;
    max-width: fit-content;
}

.product-img {
    width: 80%;
    height: 80%;
}

h4 {
    color: aquamarine
}

.product-item {
    max-width: 250px;
}

.product-order {
    margin-top: 48px;
}

.product-search-btn {
    position: absolute;
    top: 0px;
    right: 0px;
}

.product-search {
    position: relative;
}