@using MT_app.core.Models
@model IEnumerable<MT_app.core.Models.Order>

@{
    ViewData["Title"] = "Orders";
}

<div class="row">
    <div>
        <h3>Pending</h3>
    </div>
    <table>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Total</th>
            <th>Total</th>
        </tr>

        @foreach (var item in ((List<Order>)ViewData["PendingList"]!))
        {
            <tr>
                <td>@item.Id</td>
                <td>@item.Name</td>
                <td>@item.CreatedDate</td>
                <td></td>
            </tr>
        }
    </table>
</div>