@using MT_app.core.Models
@model Order

@{
    ViewData["Title"] = "Order";
}
<h1>Oder</h1>

<div class="row">
    <div class="col-6">
        <form asp-action="CreateOrder" class="row">
            <div class="col-auto">
                <input asp-for="Name" type="text" class="form-control" placeholder="Order name"/>
            </div>
            <div class="col-auto">
                <button type="submit" class="btn btn-primary">Create</button>
            </div>
        </form>
    </div>
    <div class="col-6">
        asd
    </div>
</div>

<div class="row order-list">
    @foreach (var item in ((List<Order>)ViewData["Ordering"]!))
    {
        <tr>
            <td>@item.Id</td>
            <td>@item.Name</td>
            <td>@item.CreatedDate</td>
            <td></td>
        </tr>
    }
</div>  